[submodule "packages/.config/kitty/vim-kitty-navigator"]
	path = packages/.config/kitty/vim-kitty-navigator
	url = https://github.com/knubie/vim-kitty-navigator.git
[submodule "packages/.config/hypr/catppuccin-theme"]
	path = packages/.config/hypr/catppuccin-theme
	url = https://github.com/catppuccin/hyprland
[submodule "packages/.config/swaync/swaync-catppuccin"]
	path = packages/.config/swaync/swaync-catppuccin
	url = https://github.com/catppuccin/swaync
	ignore = dirty
[submodule "packages/nvim-config"]
	path = packages/neovim
	url = https://github.com/https123456789/nvim-config
    ignore = dirty
[submodule "packages/.config/rofi/rofi-catppuccin"]
	path = packages/.config/rofi/rofi-catppuccin
	url = https://github.com/catppuccin/rofi
